@page "/turma/create"

@using Interface.Models
@inject NavigationManager NavigationManager;
@inject Interface.Services.ITurmaService TurmaService;

<h1>Criar Turma</h1>

<EditForm Model="turma" OnValidSubmit="CreateTurma">

    @* <div class="form-group mb-3">
        <label for="turmaCourse">Course</label>
        <InputText @bind-Value="turma.Course" class="form-control" id="turmaCourse" />
    </div> *@

    <div class="form-group mb-3">
        <label for="turmaClass">Turma</label>
        <InputText @bind-Value="turma.Class" class="form-control" id="turmaClass" />
    </div>

   @*  <div class="form-group mb-3">
        <label for="turmaYear">Ano</label>
        <InputText @bind-Value="turma.Year" class="form-control" id="turmaYear" />
    </div> *@

    <DataAnnotationsValidator />
    <ValidationSummary />

    <button class="btn btn-success" type="submit">Salvar</button>

</EditForm>

@code {
    Turma turma = new();

    async Task CreateTurma()
    {
        await TurmaService.Add(turma);

        NavigationManager.NavigateTo("/");
    }
}
